/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 26, 2015, 2:34:52 PM
    Author     : Skulldy
*/
body {
    background: rgb(00,00,77);
    text-align: center;
    color : white;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}
h1{
    color: white;
}
h3{
    text-align: left;
    display: table;
    border-top-color: white;
    border-top-style: solid;
    width: 170px;
}
.col-md-2{
    border-color: white;
    border-style: solid;
}

select{
    color : black;
}
#multipleButton{
    background-color: rgb(00,00,77);
}
#filtre{
       display : table;
}
label
{
    color: white;
    display: inline-block;
    width: 150px;
    height: 30px;
  
    text-align: left;
    margin-left : 10px;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}
.checky{
    display: inline-block;
    width: 20px;
    height: 30px;
    
}
#multiple{
    margin : 10px;
}
#multipleButton{
    margin-bottom: 20px;
}